<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Учет пропущенных занятий</title>
    <link type="image/png" sizes="320x320" rel="icon" href="./images/icon.png" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body id="body">
    <div class="container">
      <%- include('layouts/header') -%>

      <div class="content">
        <h1>Группа: <%= group.group_number%></h1>
        <h1>Учебная дисциплина: <%= discipline.disciplinename%></h1>

        <form class="form_center" action="/omissionsList" method="post">
          <input type="text" name="groupId" id="groupId" value="<%= group.id%>" style="display: none" />
          <input type="text" name="disciplineId" id="disciplineId" value="<%= discipline.id%>" style="display: none" />
          <label for="date1">Дата с:</label>
          <input type="date" name="date1" id="date1" />
          <label for="date2">по</label>
          <input type="date" name="date2" id="date2" />
          <button class="button">Посмотреть</button>
        </form>
        
        <!-- <p>Пропуски:</p> -->

        <% if(omissions!="") { %> 
        <%- "<h1>Пропуски на дату " + omissions[0].data.getDate()+ "." + (omissions[0].data.getMonth()+1) + "." + omissions[0].data.getFullYear() +"</h1>"%> 
        <% var currDate = omissions[0].data.getDate()+ "." + (omissions[0].data.getMonth()+1) + "." + omissions[0].data.getFullYear(); 
          var iter = 1;
        %> 
          <% } %> 


        <% for (let i = 0; i < omissions.length; i++) { %>
          <% if(currDate == omissions[i].data.getDate()+ "." + (omissions[i].data.getMonth()+1) + "." + omissions[i].data.getFullYear()) {%> 
            <div class="omission">
                <p><%= iter++ %>) <%= omissions[i].studentname %></p>
                <% if (omissions[i].ispresent == true) {%> 
                    <%- "<p style=\"color: green;\">Был</p>" %> 
                <% } else { %> 
                    <%- "<p style=\"color: red;\">Не был</p>" %> 
                <% } %>
            </div>
          <% } else { iter = 1; %> 
            <%- "<h1>Пропуски на дату " + omissions[i].data.getDate()+ "." + (omissions[i].data.getMonth()+1) + "." + omissions[i].data.getFullYear() +"</h1>"%> 
            <div class="omission">
                <p><%= iter++ %>) <%= omissions[i].studentname %></p>
                <% if (omissions[i].ispresent == true) {%> 
                    <%- "<p style=\"color: green;\">Был</p>" %> 
                <% } else { %> 
                    <%- "<p style=\"color: red;\">Не был</p>" %> 
                <% } %>
            </div>
            
          <% currDate = omissions[i].data.getDate()+ "." + (omissions[i].data.getMonth()+1) + "." + omissions[i].data.getFullYear(); }%>
        <% }%>
        <p style="color: red"><%= errMsg %></p>

        <script>
          var date = new Date();
          var day = date.getDate(),
          day7 = date.getDate()-7,
            month = date.getMonth() + 1,
            year = date.getFullYear();
          month = (month < 10 ? "0" : "") + month;
          day = (day < 10 ? "0" : "") + day;
          day7 = (day7< 10 ? "0" : "") + day7;
          var today = year + "-" + month + "-" + day;
          var today7 = year + "-" + month + "-" + day7;
          document.getElementById("date1").value = today7;
          document.getElementById("date2").value = today;
        </script>
      </div>

      <%- include('layouts/footer') -%>
    </div>
  </body>
</html>
